@import url(//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi);

body {
  background-image: url("/public/star-wars.jpeg");
  text-align: center;
  font-family: 'Star Jedi', arial;
  color: #FFE81F;
}

h1 {
  color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFE81F;
}

.ships {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
}

.container {
  padding: 20px;
  text-align: center;
  gap: 20px;
  border: 2px solid #FFE81F;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 20px;
}